.content {
  padding: 1.2rem;
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .title {
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0 8px;
    color: #3091f2;
  }
  .sample {
    display: flex;
    gap: 5rem;
  }
}
