.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .topTitle {
    font-size: 36px;
  }
  .topRight {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.list {
  margin-top: 25px;
  list-style-type: none;
}

.listContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
  }
  .listDetail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .listTitle {
      margin-left: 60px;
      font-size: 20px;
    }
    ul {
      display: block;
      overflow: hidden;
      white-space: nowrap; //处理块元素中的空白符和换行
      li {
        list-style: none;
        display: inline-block; //使li对象显示为一行
        width: 130px;
        .listIcon {
          margin: 2px;
        }
      }
    }
  }
}

.pagination {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.notFind {
  font-size: 20px;
  font-weight: 200;
  position: relative;
  left: 300px;
}
